<ng-container *ngxSubscribe="let breedables of breedables$">
  <label class="poke-autocomplete-input-wrapper" matAutocompleteOrigin #origin="matAutocompleteOrigin">

    <app-pokemon [slug]="selectedPokemon ? selectedPokemon.iconSlug : 'unknown'"></app-pokemon>
    <input
      placeholder="Select Pokémon"
      matInput
      class="poke-autocomplete-input"
      (focusin)="$event.target.select()"
      [formControl]="control"
      [matAutocomplete]="auto"
      [matAutocompleteConnectedTo]="origin">
  </label>
  <mat-autocomplete (optionSelected)="selectPokemon($event)" #auto="matAutocomplete" class="poke-autocomplete"
                    [displayWith]="displayFn" autoActiveFirstOption>
    <mat-option *ngFor="let option of filteredPokemon | async" [value]="option">
      <app-pokemon [slug]="option.pokemon | slugify"></app-pokemon>
      {{option.pokemon}}
    </mat-option>
  </mat-autocomplete>
  <ng-container *ngIf="selectedPokemon$">
    <ng-container *ngxSubscribe="let pokemon of selectedPokemon$">
      <ng-container *ngIf="pokemon; else pokemonNotFound">
        {{pokemon.iconSlug}}
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #pokemonNotFound>
  <app-ball-guy-bubble>The Pokemon you're looking for was not found. The database might not be up date.
  </app-ball-guy-bubble>
</ng-template>
