<ng-container *ngIf="(breedables$ | async) as breedables">
  <label class="poke-autocomplete-input-wrapper" matAutocompleteOrigin #origin="matAutocompleteOrigin">

    <app-pokemon [slug]="selectedPokemon ? selectedPokemon.iconSlug : 'unknown'"></app-pokemon>
    <input
      placeholder="Select Pokémon"
      matInput
      class="poke-autocomplete-input"
      (focusin)="selectInputText($event)"
      [formControl]="searchControl"
      [matAutocomplete]="auto"
      [matAutocompleteConnectedTo]="origin">
  </label>
  <mat-autocomplete (optionSelected)="selectPokemon($event)" #auto="matAutocomplete" class="poke-autocomplete"
                    [displayWith]="displayFn" autoActiveFirstOption>
    <mat-option *ngFor="let option of filteredPokemon | async" [value]="option">
      <app-pokemon [slug]="option.pokemon | nameToSlug"></app-pokemon>
      {{option.pokemon}}
    </mat-option>
  </mat-autocomplete>
  <ng-container *ngIf="selectedPokemon$">
    <ng-container *ngIf="(selectedPokemon$ | async) as pokemon">
      <ng-container *ngIf="pokemon; else pokemonNotFound">

        <div class="card">
          <h2 class="m-0">{{pokemon.name}} information</h2>
          <app-type-badge [type]="type" size="small" *ngFor="let type of pokemon.types">{{type}}</app-type-badge>
          <div><b>Abilities:</b>
            <ng-container *ngFor="let ability of pokemon.abilities">{{ability}}</ng-container>
          </div>
          <div><b>Hidden Ability:</b> {{pokemon.hiddenAbility ? pokemon.hiddenAbility : '-'}}</div>
        </div>


        <ng-container *ngIf="sheetBreeadbles">
          <table class="breeding-pokemon-table">
            <ng-container *ngFor="let sheetbreedable of sheetBreeadbles | keyvalue">
              <tr [class.is-owned]="sheetbreedable.value.isOwned">
                <td class="ball-col">
                  <app-item category="ball" [slug]="sheetbreedable.key | slugify"></app-item>
                </td>
                <td class="egg-col">
                  <app-pokemon matTooltip="This breedable has the maximum amount of egg moves!"
                               *ngIf="hasMaxEggmoves(sheetbreedable.value)" slug="egg"></app-pokemon>
                </td>
                <td>
                  <ng-container *ngIf="sheetbreedable.value.isOwned">
                    {{sheetbreedable.value.hasHiddenAbility ? 'HA' : 'NON-HA'}}
                  </ng-container>
                </td>

                <td *ngFor="let _ of [].constructor(4); let index" [class.is-em]="isEggMove(sheetbreedable.value.moves[index])">
                  {{sheetbreedable.value.moves[index]}}
                </td>
                <td>
                  {{sheetbreedable.value.nature}}
                </td>
              </tr>
            </ng-container>
          </table>
        </ng-container>

        <div>
          <h2>Inheritance</h2>
          <div class="breeding-move-grid">
            <ng-container *ngFor="let eggMove of eggMoves">
              <div class="move-name">{{eggMove}}</div>
              <app-grid appearance="minimal">
                <ng-container *ngFor="let parent of parentMoves | keyvalue">
                  <app-grid-item *ngIf="parent.key !== pokemon.name && parent.value.eggMoves.includes(eggMove)"
                                 [pokemon]="asPokemon({iconSlug: parent.key | slugify}) "></app-grid-item>
                </ng-container>
              </app-grid>
            </ng-container>
          </div>
        </div>

        <div>
          <h2>Leveling</h2>
          <div class="breeding-move-grid">
            <ng-container *ngFor="let eggMove of eggMoves">
              <div class="move-name">{{eggMove}}</div>
              <app-grid appearance="minimal">
                <ng-container *ngFor="let parent of parentMoves | keyvalue">
                  <ng-container *ngIf="(parent.value.levelUpMoves | filterLevelUpMoves: eggMove) as moves">
                    <app-grid-item [pokemon]="asPokemon({iconSlug: parent.key | slugify})"
                                   *ngIf="moves.length"></app-grid-item>
                  </ng-container>
                </ng-container>
              </app-grid>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #pokemonNotFound>
  <app-ball-guy-bubble>The Pokemon you're looking for was not found. The database might not be up to date.
  </app-ball-guy-bubble>
</ng-template>
