<ng-container *ngxSubscribe="let breedables of breedables$">
  <div class="custom-wrapper-example" matAutocompleteOrigin #origin="matAutocompleteOrigin">
    <input
      matInput
      [formControl]="control"
      [matAutocomplete]="auto"
      [matAutocompleteConnectedTo]="origin">
  </div>

  <mat-autocomplete #auto="matAutocomplete" class="poke-autocomplete" [displayWith]="displayFn">
    <mat-option *ngFor="let option of filteredPokemon | async" [value]="option">
      <app-pokemon [slug]="option.pokemon | slugify"></app-pokemon>
      {{option.pokemon}}</mat-option>
  </mat-autocomplete>
</ng-container>
