.footer {
  color: #fff;
  background: #060606;
  height: 53px;
  padding: 0 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: padding 0.2s linear;

  .copy {
    padding: 1.6rem;
  }

  .copy, .link-list {
    display: flex;
    align-items: center;
  }

  .link-list a {
    text-decoration: none;
    color: #c9cacc;
    padding: 1.6rem;
    display: block;
  }
}

@media screen and (max-width: 900px) {

  .footer {
    flex-direction: column;
    height: auto;
    min-height: 106px;

    .copy {
      order: 2;
    }
  }
}

@media screen and (max-width: 720px) {
  .footer {
    padding: 0;
  }
}
