.app-header {
  color: #fff;
  background: #060606;
  height: 53px;
  padding: 0 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: padding .2s linear;

  .App-title, .App-navigation ul {
    display: flex;
    align-items: center;
  }

  .App-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .App-header {
    padding: 1rem 0;

    a {
      color: #c9cacc;
      border-bottom: 2px solid transparent;

      &.selected {
        border-bottom-color: #0b7abb;;
      }
    }

  }

  .App-navigation ul {

    justify-content: flex-end;

    a {
      padding: 1.6rem;
      display: block;
    }
  }


  &:before, &:after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    -webkit-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
    z-index: -1;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &:before {
    background-color: #bd2732;
    right: 48%;
    width: 130vw;
    height: 130vw;
  }

  &:after {
    background-color: #dd313d;
    right: 60%;
    width: 100vw;
    height: 100vw;
  }
}

#pop-up-main-menu {
  width: 100%;
  display: block;
  background: rgba(0, 0, 0, .7);
  backdrop-filter: blur(8px);
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);

  a {
    color: rgba(255, 255, 255, .8);
    display: block;
    width: 100%;
    padding: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  .app-header {
    &:before {
      background-color: #67181e;
    }

    &:after {
      background-color: #821f26;
    }

  }
}

@media screen and (max-width: 720px) {
  .app-header {
    padding: 0 0 0 1rem;
  }
}
