<ng-container *ngIf="dbpokemon$ | async as dbpokemon">
  <div class="detailed-header dark-bg">{{pokemon.name}}</div>
  <div class="detailed-species-info  d-flex">
    <div class="detailed-species-icon">
      <img alt="" class="icon-foundation" src="assets/images/pokesprite-pokeball.svg">
      <app-pokemon [slug]="pokemon.iconSlug"></app-pokemon>
    </div>
    <div class="detailed-pokemon-info row">
      <div class="detailed-types">
        <app-type-badge [type]="type" size="small" *ngFor="let type of dbpokemon.types">{{type}}</app-type-badge>
      </div>
    </div>
  </div>
  <div class="detailed-stats row">
    <div class="detailed-label dark-bg t-align-center">HP</div>
    <div class="">67</div>
    <div class="detailed-label dark-bg t-align-center">Attack</div>
    <div class="">67</div>
    <div class="detailed-label dark-bg t-align-center">Defense</div>
    <div class="">67</div>
    <div class="detailed-label dark-bg t-align-center">Sp. Atk</div>
    <div class="">67</div>
    <div class="detailed-label dark-bg t-align-center">Sp. Def</div>
    <div class="">67</div>
    <div class="detailed-label dark-bg t-align-center">Speed</div>
    <div class="">67</div>
  </div>
  <div class="detailed-dynamax row ">
    <div class="detailed-label dark-bg">Dynamax Level</div>

    <ul>
      <li [class.on]="index < pokemon.dynamaxLevel" *ngxRepeat="10; let index"></li>
    </ul>

  </div>
  <div class="detailed-ability row ">
    <div class="detailed-label dark-bg">Ability</div>
    <span class="detailed-text">{{pokemon.ability}}</span>

  </div>
  <div class="detailed-moves" *ngIf="moves$ | async as moves">
    <div class="detailed-move" [class]="'move-'+moves[i].type"
         *ngFor="let move of pokemon.moves; let i = index">{{move}}</div>
  </div>
</ng-container>
