.grid.detailed {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;

  .grid-item {
    color: #000;
    flex-direction: column;
    background: rgba(255, 255, 255, .95);
    margin: 0;
    height: auto;
    display: flex;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .4);

    &.inactive {
      opacity: .5;

      .type-badge {
        filter: grayscale(1);
      }
    }

    .detailed-species-info {
      margin-top: -12px;
    }

    .detailed-species-icon {
      position: relative;
      display: flex;
      width: 90px;
      justify-content: center;
      align-items: center;
    }

    .icon-foundation {
      position: absolute;
      left: 50%;
      bottom: 3px;
      width: 40px;
      opacity: 0.3;
      transform: translateX(-20px);
    }

    .detailed-species {
      border-bottom: 4px solid transparent;
    }

    .row {
      margin: 0 0 3px 0;
    }

    .dark-bg {
      background: #dbdbdb;
    }

    .detailed-types {
      border-top: 14px solid transparent;
    }

    .detailed-pokemon-info {
      padding: 4px 10px;
      display: flex;
      align-items: center;

      .detailed-label {
        margin-left: -10px;
      }

      .type-badge {
        margin-right: 5px;
      }
    }

    .detailed-header {
      padding: 7px;
      font-weight: bold;
    }

    .detailed-stats {
      display: grid;
      grid-template-columns: 80px 1fr;
      grid-gap: 3px 10px;
    }

    .detailed-label {
      padding: 4px 10px;
      width: 80px;
      text-align: center;
    }

    .inactive {
      color: rgba(0, 0, 0, .3);

      .icon-wrapper {
        filter: grayscale(1) opacity(0.1);
      }
    }

  }
}

.detailed-text {
  display: flex;
  justify-content: center;
  padding: 4px 10px;
}

.detailed-ability {
  display: flex;
}

.detailed-dynamax {

  display: flex;

  .detailed-label, ul {
    flex-basis: 50%;
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    border-left: 15px solid transparent;
    border-right: 5px solid transparent;
  }


  ul li {

    transform: skewX(-20deg);
    height: 100%;
    width: 7%;

    background: #E8E8E8;

    &.on:nth-child(1) {
      background: #33EAFA;
    }

    &.on:nth-child(2) {
      background: #5ADFFE;
    }

    &.on:nth-child(3) {
      background: #65C2FD;
    }

    &.on:nth-child(4) {
      background: #52A3F4;
    }

    &.on:nth-child(5) {
      background: #987AFC;
    }

    &.on:nth-child(6) {
      background: #B977FD;
    }

    &.on:nth-child(7) {
      background: #DC51EA;
    }

    &.on:nth-child(8) {
      background: #F631BE;
    }

    &.on:nth-child(9) {
      background: #E8288D;
    }

    &.on:nth-child(10) {
      background: #E52674;
    }

  }
}

.detailed-move {
  margin-bottom: 3px;
}

.detailed-moves {
  padding: 0 4px;
}

[class*=move-] {
  padding: 6px 6px 6px 36px;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  background-size: 24px;
  background-position: 3px;
}

$types: "water" #8CADE0,
"dark" #8F8E94,
"psychic" #EBA1A2,
"fighting" #CD8B99,
"poison" #BD98D2,
"normal" #ACB4B7,
"ghost" #8E97BE,
"steel" #90ACB8,
"ground" #E19F87,
"dragon" #7A99CF,
"fairy" #F2ADEC,
"fire" #FFB68D,
"bug" #ADD080,
"ice" #9CDACD,
"flying" #AEBDE4,
"rock" #D3C8A8,
"grass" #94CC8F,
"electric" #F6DC85;

@each $type, $color in $types {
  .move-#{$type} {
    background-color: $color;
    background-image: url("type-icons/#{$type}.png");
  }
}


.move-electric {
  background: #F6DC85;
}


@media screen and (max-width: 1400px) {
  .grid.detailed {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1200px) {
  .grid.detailed {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .grid.detailed {
    grid-template-columns: 1fr;
  }
}
