@if (pokemon && dbpokemon$) {

  @if ((dbpokemon$ | async); as dbpokemon) {

    <div class="detailed-header dark-bg d-flex">
      @if (pokemon.ball) {
        <app-item category="ball" [slug]="pokemon.ball | slugify"></app-item>
      }
      {{ pokemon.name }}
    </div>
    <div class="detailed-species-info  d-flex">
      <div class="detailed-species-icon">
        <img alt="" class="icon-foundation" src="assets/images/pokesprite-pokeball.svg">
        <app-pokemon [shiny]="pokemon.isShiny" [slug]="pokemon.iconSlug"></app-pokemon>
      </div>
      <div class="detailed-pokemon-info row">
        <div class="detailed-types">
          @if (dbpokemon) {

            @for (type of dbpokemon.types; track type) {
              <app-type-badge [type]="type" size="small">{{ type }}</app-type-badge>
            }

          }

          @if (!dbpokemon) {
            <app-type-badge type="unknown" size="small">{{ 'unknown' }}</app-type-badge>
          }

        </div>
        <div class="shiny-icon-wrapper">
          @if (pokemon.isShiny) {
            <mat-icon svgIcon="shiny-stars"></mat-icon>
          }
        </div>
      </div>
    </div>

    @if (pokemon.ivs || pokemon.evs) {
      <div class="detailed-stats row {{natureClass}}"
           [class.ev-iv]="pokemon.ivs && pokemon.evs">
        <div class="detailed-label dark-bg t-align-center">Stats</div>
        @if (pokemon.ivs) {
          <div class="iv">IVs</div>
        }
        @if (pokemon.evs) {
          <div class="ev">EVs</div>
        }
        <div class="detailed-label dark-bg t-align-center hp">HP</div>
        @if (pokemon.ivs) {
          <div class="hp">{{ pokemon.ivs.hp }}</div>
        }
        @if (pokemon.evs) {
          <div class="hp">{{ pokemon.evs.hp }}</div>
        }
        <div class="detailed-label dark-bg t-align-center atk">Attack</div>
        @if (pokemon.ivs) {
          <div class="atk">{{ pokemon.ivs.atk }}</div>
        }
        @if (pokemon.evs) {
          <div class="atk">{{ pokemon.evs.atk }}</div>
        }
        <div class="detailed-label dark-bg t-align-center def">Defense</div>
        @if (pokemon.ivs) {
          <div class="def">{{ pokemon.ivs.def }}</div>
        }
        @if (pokemon.evs) {
          <div class="def">{{ pokemon.evs.def }}</div>
        }
        <div class="detailed-label dark-bg t-align-center spa">Sp. Atk</div>
        @if (pokemon.ivs) {
          <div class="spa">{{ pokemon.ivs.spa }}</div>
        }
        @if (pokemon.evs) {
          <div class="spa">{{ pokemon.evs.spa }}</div>
        }
        <div class="detailed-label dark-bg t-align-center spd">Sp. Def</div>
        @if (pokemon.ivs) {
          <div class="spd">{{ pokemon.ivs.spd }}</div>
        }
        @if (pokemon.evs) {
          <div class="spd">{{ pokemon.evs.spd }}</div>
        }
        <div class="detailed-label dark-bg t-align-center spe">Speed</div>
        @if (pokemon.ivs) {
          <div class="spe">{{ pokemon.ivs.spe }}</div>
        }
        @if (pokemon.evs) {
          <div class="spe">{{ pokemon.evs.spe }}</div>
        }
      </div>
    }

    @if (pokemon.dynamaxLevel) {
      <div class="detailed-dynamax row ">
        <div class="detailed-label dark-bg">Dynamax Level</div>
        <ul>
          @for (_ of [].constructor(10); track _) {
            <li [class.on]="$index < pokemon.dynamaxLevel"></li>
          }
        </ul>
      </div>
    }

    <div class="detailed-ability row ">
      <div class="detailed-label dark-bg">Ability</div>
      <span class="detailed-text">{{ pokemon.ability }}</span>
    </div>

    @if (natureClass) {
      <div class="detailed-nature row ">
        <div class="detailed-label dark-bg">Nature</div>
        <span class="detailed-text">{{ pokemon.nature }}</span>
      </div>
    }

    @if (pokemon.item) {
      <div class="detailed-nature row ">
        <div class="detailed-label dark-bg">Item</div>
        <span class="detailed-text">
        <app-item [slug]="pokemon.item | slugify"></app-item>
          {{ pokemon.item }}
      </span>
      </div>
    }

    @if (moves$ | async; as moves) {
      <div class="detailed-moves">
        @if (isEggMove$ | async; as isEggMove) {

          @for (move of pokemon.moves; track move; let i = $index) {

            @if (move) {
              <app-detailed-move
                [isEggMove]="isEggMove[i]" [move]="move"
                [type]="(moves[i]?.type ? moves[i].type : 'unknown')">

              </app-detailed-move>
            }

          }

        }
      </div>
    }

  }

}
