$types: "water" #8CADE0,
"dark" #8F8E94,
"psychic" #EBA1A2,
"fighting" #CD8B99,
"poison" #BD98D2,
"normal" #ACB4B7,
"ghost" #8E97BE,
"steel" #90ACB8,
"ground" #E19F87,
"dragon" #7A99CF,
"fairy" #F2ADEC,
"fire" #FFB68D,
"bug" #ADD080,
"ice" #9CDACD,
"flying" #AEBDE4,
"rock" #D3C8A8,
"grass" #94CC8F,
"electric" #F6DC85;

$typesDarkmode: "water" #576781,
"dark" #58585b,
"psychic" #866162,
"fighting" #77565d,
"poison" #6f5d7a,
"normal" #676b6c,
"ghost" #585c70,
"steel" #59676d,
"ground" #816054,
"dragon" #4e5d78,
"fairy" #896786,
"fire" #906c57,
"bug" #677951,
"ice" #5f7e77,
"flying" #686f82,
"rock" #7a7565,
"grass" #5b7758,
"electric" #8b7f53;

$dynamaxColor: #33EAFA,
#5ADFFE,
#65C2FD,
#52A3F4,
#987AFC,
#B977FD,
#DC51EA,
#F631BE,
#E8288D,
#E52674;

.grid.detailed {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;

  .grid-item {
    color: #000;
    flex-direction: column;
    background: rgba(255, 255, 255, .95);
    margin: 0;
    height: auto;
    display: flex;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .4);
    transition: all .3s;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
    }

    &.inactive {
      filter: grayscale(1) opacity(0.5);

      &:hover {
        filter: grayscale(0) opacity(1);
      }

      .type-badge {
        filter: grayscale(1);
      }
    }

    .detailed-species-info {
      margin-top: -12px;
    }

    .detailed-species-icon {
      position: relative;
      display: flex;
      width: 90px;
      justify-content: center;
      align-items: center;
    }

    .icon-foundation {
      position: absolute;
      left: 50%;
      bottom: 3px;
      width: 40px;
      opacity: 0.3;
      transform: translateX(-20px);
    }

    .detailed-species {
      border-bottom: 4px solid transparent;
    }

    .row {
      margin: 0 0 3px 0;
    }

    .dark-bg {
      background: #dbdbdb;
    }

    .detailed-types, .shiny-icon-wrapper {
      border-top: 14px solid transparent;
    }

    .shiny-icon-wrapper {
      height: 38px;
      width: 24px;

      svg {
        color: #f00;
      }
    }

    .detailed-pokemon-info {
      padding: 4px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1 1 auto;

      .detailed-label {
        margin-left: -10px;
      }

      .type-badge {
        margin-right: 5px;
      }
    }

    .detailed-header {
      padding: 7px;
      font-weight: bold;
    }

    .detailed-stats {
      display: grid;
      grid-template-columns: 80px 1fr;
      grid-gap: 3px 10px;

      &.ev-iv {
        grid-template-columns: 80px 1fr 1fr;
      }
    }

    .detailed-label {
      padding: 4px 10px;
      width: 80px;
      text-align: center;
    }

    .inactive {
      color: rgba(0, 0, 0, .3);

      .icon-wrapper {
        filter: grayscale(1) opacity(0.1);
      }
    }

  }
}

.detailed-text {
  display: flex;
  justify-content: center;
  padding: 4px 10px;
}

.detailed-ability, .detailed-nature {
  display: flex;
}

.detailed-dynamax {
  display: flex;

  .detailed-label, ul {
    flex-basis: 50%;
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    border-left: 15px solid transparent;
    border-right: 5px solid transparent;
  }


  ul li {
    transform: skewX(-20deg);
    height: 100%;
    width: 7%;
    background: #E8E8E8;

    @for $i from 1 through length($dynamaxColor) {
      &.on:nth-child(#{$i}) {
        background: nth($dynamaxColor, $i);
      }
    }
  }
}


.detailed-move {
  margin-bottom: 3px;
}

.detailed-moves {
  padding: 0 4px;

  & [class*=move-] {
    padding: 6px 6px 6px 36px;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    background-size: 24px;
    background-position: 3px;
    justify-content: space-between;
    background-color: #dbdbdb;
  }

  @each $type, $color in $types {
    .move-#{$type} {
      background-color: $color;
      background-image: url("type-icons/#{$type}.png");
    }
  }

  .egg-icon {
    overflow: hidden;
    height: 21px;
    width: 42px;
    display: flex;
    align-items: flex-end;

    .pkspr.egg {
      margin-left: -16px;
    }
  }
}


@media screen and (max-width: 1400px) {
  .grid.detailed {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1200px) {
  .grid.detailed {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .grid.detailed {
    grid-template-columns: 1fr;
  }
}


@media (prefers-color-scheme: dark) {
  .grid.detailed {
    .grid-item {
      background: #212121;
      color: #dfd3d4;

      .dark-bg {
        background: #161b22;
      }

      &.inactive {
        color: rgb(223 211 212 / 0.3);
      }

      .shiny-icon-wrapper {
        svg {
          color: #b51010;
        }
      }
    }
  }

  .detailed-moves {
    @each $type, $color in $typesDarkmode {
      .move-#{$type} {
        background-color: $color;
        background-image: url("type-icons/#{$type}.png");
      }
    }
  }
}
