<ng-container *ngxSubscribe="let items of this.dataSource.connect()">
  <ng-container *ngFor="let item of dataSource.filteredData; trackBy: trackByFn">
    <ng-container [ngSwitch]="appearance">
      <ng-container *ngSwitchCase="'minimal'">
        <app-minimal [pokemon]="item.pokemon"></app-minimal>
      </ng-container>
      <ng-container *ngSwitchCase="'normal'">
        <app-normal [pokemon]="item.pokemon"></app-normal>
      </ng-container>
      <ng-container *ngSwitchCase="'detailed'">
        <app-detailed [pokemon]="item.pokemon"></app-detailed>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
