#search, .history-entry, .save-button {
  font-size: 90%;
  font-weight: 500;;
  letter-spacing: -1px;
  line-height: 32px;
  color: #000;
  border-radius: 42px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  /* display: flex; */
  align-items: center;
  width: 100%;
  overflow: hidden;
  border: none;
  outline: none;
  padding: 0 8px;
  background: #fff;
}

.history-entry {
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 16px;
}

.save-button {
  cursor: pointer;
  width: auto;
}

@media (prefers-color-scheme: dark) {
  #search, .history-entry, .save-button {
    background: #21262d;
    color: #efe2e3;
  }
}
