<header class="view-header full-width">Change spreadsheet</header>
<aside class="view-sidebar">
  <div class="view-subheader">Spreadsheet search</div>
  <form (submit)="submitSearch()" [formGroup]="searchForm">
    <input id="search" formControlName="search" placeholder="Look up spreadsheet by id">
  </form>

  <div class="view-subheader">
    search history
  </div>
  <ul>
    <li class="history-entry" *ngFor="let historyEntry of spreadsheetHistory$ | async; trackBy: trackBy"
        (click)="fromHistory(historyEntry.id)">
      {{historyEntry.title}}
    </li>
  </ul>
</aside>
<div class="view-content">
  <ng-container *ngIf="loadedSpreadsheet$; else notRequestedYet">
    <ng-container
      *ngxSubscribe="let loadedSpreadsheet of loadedSpreadsheet$; beforeAny pendingTemplate onError errorTemplate">
      <ng-container *ngIf="loadedSpreadsheet">
        <div class="view-subheader">{{loadedSpreadsheet.title}}</div>
        <div class=""></div>
        <div class="collection-infos" *ngIf="loadedSpreadsheet.hasValuables">
          <div class="title">Contains valuables!</div>
          <div class="text">Valuables are Pokémon with a certain rarity. Event, shiny, competitive, legendary Pokémon
            and others.
          </div>
        </div>
        <div class="collection-infos" *ngIf="loadedSpreadsheet.hasBreedables">
          <div class="title">Contains breedables!</div>
          <div class="text">Breedables are Pokémon, which can be bred or are a result of breeding. They are usually
            collected in different kind of balls like Bulbasaur in a Friend Ball.
          </div>
        </div>
        <div class="button-row">
          <button class="save-button" (click)="saveSpreadsheet(loadedSpreadsheet)">Save as current spreadsheet</button>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #notRequestedYet>
  <app-ball-guy-bubble>
    Enter a spreadsheet ID to load a spreadsheet.
  </app-ball-guy-bubble>
</ng-template>
<ng-template #pendingTemplate>
  <div *ngIf="hasRequested">
    <app-spinner class="centered-spinner"></app-spinner>
    <div class="t-align-center">Load spreadsheet</div>
  </div>
</ng-template>
<ng-template #errorTemplate let-error="error">Error: {{ error.message }}</ng-template>


