<header class="view-header full-width">Change spreadsheet</header>
<aside class="view-sidebar">
  <div class="view-subheader">Spreadsheet search</div>
  <form (submit)="submitSearch()" [formGroup]="searchForm">
    <input id="search" formControlName="search" placeholder="Look up spreadsheet by id">
  </form>

  <div class="view-subheader">
    search history
  </div>
  <ul>
    @for (historyEntry of spreadsheetHistory$ | async; track trackBy($index, historyEntry)) {
      <li class="history-entry"
          (click)="fromHistory(historyEntry.id)">
        {{ historyEntry.title }}
      </li>
    }
  </ul>
</aside>
<div class="view-content">
  @if (loadedSpreadsheet$) {

    @if ((isLoading$ |async)) {

      @if (hasRequested) {
        <div>
          <app-spinner class="centered-spinner"></app-spinner>
          <div class="t-align-center">Load spreadsheet</div>
        </div>
      }

    }
    @if (!error) {

      @if ((loadedSpreadsheet$ | async); as loadedSpreadsheet) {

        @if (loadedSpreadsheet) {

          <div class="view-subheader">{{ loadedSpreadsheet.title }}</div>
          <div class=""></div>
          @if (loadedSpreadsheet.hasValuables) {
            <div class="collection-infos">
              <div class="title">Contains valuables!</div>
              <div class="text">Valuables are Pokémon with a certain rarity. Event, shiny, competitive, legendary
                Pokémon
                and others.
              </div>
            </div>
          }
          @if (loadedSpreadsheet.hasBreedables) {
            <div class="collection-infos">
              <div class="title">Contains breedables!</div>
              <div class="text">Breedables are Pokémon, which can be bred or are a result of breeding. They are usually
                collected in different kind of balls like Bulbasaur in a Friend Ball.
              </div>
            </div>
          }
          <div class="button-row">
            <button class="save-button" (click)="saveSpreadsheet(loadedSpreadsheet)">Save as current spreadsheet
            </button>
          </div>

        }

      }

    } @else {
      Error: {{ error?.message }}
    }

  } @else {

    <app-ball-guy-bubble>
      <div>Enter a spreadsheet ID to load a spreadsheet.</div>
      <div>Make sure the spreadsheet with that given ID is published to web and made from the template!</div>
      <div>Currently no other spreadsheet template it supported.</div>
    </app-ball-guy-bubble>

  }
</div>






