<header class="view-header">valuables</header>
<div class="view-addional-content">
  <app-grid-controller/>
</div>
<aside class="view-sidebar">
  @if (worksheets) {
    <ul class="sub-navi">

      @for (worksheet of worksheets; track worksheet) {
        <app-sub-navi-item [link]="['/'+spreadsheetId, 'valuables', worksheet.title | slugify]"

                           [text]="worksheet.title"
                           [meta]="''+worksheet.data?.length">
          @if (worksheet.config?.subType) {
            <app-item [slug]="(getItemMapping(worksheet.config?.subType) | slugify)"></app-item>
          }
        </app-sub-navi-item>
      }

    </ul>
  }
</aside>
<div class="view-content">
  <router-outlet/>
</div>
