<app-changer *ngIf="(hideAppearance$ | async)  === false" (selectionChanged)="changeGrid($event)"
             class="m-right-gap"></app-changer>
<app-checkbox *ngIf="(hideInactives$ | async) === false" [formControl]="toggleInactivesControl"
              (change)="changeGridInactives()"
              [icon]="toggleInactivesControl.value ? 'visibility_off': 'visibility'">
  {{toggleInactivesControl.value ? 'Unowned hidden' : 'Unowned visible'}}
</app-checkbox>
<input [formControl]="filter">
<mat-form-field floatLabel="never">
  <mat-select [formControl]="sorting" placeholder="select sorting">
    <mat-option>None</mat-option>
    <mat-option [value]="{id: 'name', start: 'asc', disableClear: false}">Name ascending</mat-option>
    <mat-option [value]="{id: 'name', start: 'desc', disableClear: false}">Name descending</mat-option>
    <mat-option [value]="{id: 'dex', start: 'asc', disableClear: false}">DexNo. ascending</mat-option>
    <mat-option [value]="{id: 'dex', start: 'desc', disableClear: false}">DexNo. descending</mat-option>
  </mat-select>

</mat-form-field>
