@if ((hideAppearance$ | async) === false) {
  <app-changer (selectionChanged)="changeGrid($event)"
               class="m-right-gap"></app-changer>
} @if ((hideOwnedStatusControl$ | async) === false) {
  <mat-form-field class="sel m-right-gap" appearance="fill"
  >
    <mat-select multiple [formControl]="ownedStatusControl" placeholder="select owned status" panelClass="dark-panel">
      <mat-option [value]="'owned'">Owned</mat-option>
      <mat-option [value]="'unowned'">Unowned</mat-option>
    </mat-select>
  </mat-form-field>
}

<input [formControl]="filter" class="m-right-gap grid-filter placeholder-light" placeholder="filter by name">
<mat-form-field appearance="fill" class="sel m-right-gap">
  <mat-select [formControl]="sorting" panelClass="dark-panel" placeholder="select sorting">
    <mat-option>None</mat-option>
    <mat-option [value]="{id: 'name', start: 'asc', disableClear: false}">Name ascending</mat-option>
    <mat-option [value]="{id: 'name', start: 'desc', disableClear: false}">Name descending</mat-option>
    <mat-option [value]="{id: 'dex', start: 'asc', disableClear: false}">DexNo. ascending</mat-option>
    <mat-option [value]="{id: 'dex', start: 'desc', disableClear: false}">DexNo. descending</mat-option>
  </mat-select>

</mat-form-field>

<mat-form-field appearance="fill" class="sel m-right-gap">
  <mat-select #categoriesSelect [formControl]="categories" multiple panelClass="dark-panel"
              placeholder="Filter by category">
    @if (transformSelectSelection(categoriesSelect.selected); as selection) {
      <mat-select-trigger>
        {{ selection.length ? selection[0].viewValue : '' }}
        @if (selection.length > 1) {
          <span class="filter-others-label">
        (+{{ selection.length - 1 }} {{ selection.length === 2 ? 'other' : 'others' }})
      </span>
        }
      </mat-select-trigger>
    }
    <mat-option [value]="pokemonCategory.UNCATEGORIZED">Uncategorized</mat-option>
    <mat-optgroup label="Valuable">
      <mat-option [value]="pokemonCategory.SUB_LEGENDARY">Sub-Legendary</mat-option>
      <mat-option [value]="pokemonCategory.LEGENDARY">Legendary</mat-option>
      <mat-option [value]="pokemonCategory.ULTRA_BEAST">Ultra Beast</mat-option>
      <mat-option [value]="pokemonCategory.MYSTICAL">Mystical</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Regional">
      <mat-option [value]="pokemonCategory.ALOLA">Alola</mat-option>
      <mat-option [value]="pokemonCategory.GALAR">Galar</mat-option>
      <mat-option [value]="pokemonCategory.HISUI">Hisui</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Species">
      <mat-option [value]="pokemonCategory.UNOWN">Unown</mat-option>
      <mat-option [value]="pokemonCategory.VIVILLON">Vivillon</mat-option>
      <mat-option [value]="pokemonCategory.ALCREMIE">Alcremie</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Other">
      <mat-option [value]="pokemonCategory.STARTER">Starter</mat-option>
      <mat-option [value]="pokemonCategory.PSEUDO_LEGENDARY">Pseudo-Legendary</mat-option>
      <mat-option [value]="pokemonCategory.FOSSIL">Fossil</mat-option>
      <mat-option [value]="pokemonCategory.BABY">Baby</mat-option>
      <mat-option [value]="pokemonCategory.GIGANTAMAX">Gigantamax</mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>
