$border-color: #1b2229;

.Loading-wrapper {
  background: linear-gradient(55deg, rgba(225, 230, 252, .3) 40%, rgba(212, 254, 252, .3) 80%), radial-gradient(circle, #fbf0fe 14%, #f2eff3 42%, #dbeffa 80%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .top-color {
    height: 200%;
    transform: rotate(0deg);
    transform-origin: center;
    animation: rotationWithPause 5s infinite linear, colorChange 20s infinite;
    background: linear-gradient(180deg, rgba(210, 30, 50, 1) 50%, rgba(0, 0, 0, 0) 50%);
  }


  .ball {
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    position: absolute;
    transform: translate(-50%, -50%);
    border: 6px solid transparent;
    animation: rotation 5s linear infinite;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    overflow: hidden;
    background: rgba(207, 207, 207, 0.5);
  }

  .top, .bottom {
    height: 50%;
    overflow: hidden;
  }


  .Button {
    border: 7px solid $border-color;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 16px;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    background: #fff;
  }

  .Line {
    height: 6px;
    background: $border-color;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  .bottom-color {
    height: 200%;
    transform: rotate(0deg);
    transform-origin: top;
    animation: rotationWithPause 5s infinite linear;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 50%);


  }


  .message {
    opacity: .8;
    color: #000;
    text-transform: uppercase;
    position: absolute;
    bottom: 7rem;
    left: 0;
    width: 100%;
    text-align: center;
  }

}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }

}


@keyframes rotationWithPause {
  0% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  85% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }

}

@keyframes colorChange {

  12.5% {
    background: linear-gradient(180deg, rgba(210, 30, 50, 1) 50%, rgba(0, 0, 0, 0) 50%)
  }


  12.6% {
    background: linear-gradient(180deg, rgba(36, 163, 248, 1) 50%, rgba(0, 0, 0, 0) 50%)
  }
  37.5% {
    background: linear-gradient(180deg, rgba(36, 163, 248, 1) 50%, rgba(0, 0, 0, 0) 50%)
  }


  37.6% {
    background: linear-gradient(180deg, rgba(128, 128, 113, 1) 50%, rgba(0, 0, 0, 0) 50%)
  }
  62.5% {
    background: linear-gradient(180deg, rgba(128, 128, 113, 1) 50%, rgba(0, 0, 0, 0) 50%)
  }


  62.6% {
    background: linear-gradient(180deg, rgba(176, 95, 234, 1) 50%, rgba(0, 0, 0, 0) 50%)
  }
  87.5% {
    background: linear-gradient(180deg, rgba(176, 95, 234, 1) 50%, rgba(0, 0, 0, 0) 50%)
  }

  87.6% {
    background: linear-gradient(180deg, rgba(210, 30, 50, 1) 50%, rgba(0, 0, 0, 0) 50%)
  }


}
