.grid.minimal {
  grid-gap: 6px;
  grid-template-columns: repeat(auto-fit, 40px);

  .grid-item {
    height: 40px;
    width: 40px;
    border: none;
    background: rgba(255, 255, 255, .22);
    border-radius: 5px;

    .icon {
      width: 68px;
      height: 56px;
      margin-left: -14px;
      flex-basis: 40px;
      margin-top: -16px;
    }
  }
}
