.type-badge {
  background-image: url('type-images/types-en.png');
  height: 44px;
  width: 200px;
  display: inline-block;
  background-size: 600% 300%;
  border-radius: 3px;

  &.small {
    width: 100px;
    height: 22px;
  }

  &.normal {
    background-position: 0 0;
  }

  &.fighting {
    background-position: 20% 0;
  }

  &.flying {
    background-position: 40% 0;
  }

  &.poison {
    background-position: 60% 0;
  }

  &.ground {
    background-position: 80% 0;
  }

  &.rock {
    background-position: 100% 0;
  }

  &.bug {
    background-position: 0 50%;
  }

  &.ghost {
    background-position: 20% 50%;
  }

  &.steel {
    background-position: 40% 50%;
  }

  &.fire {
    background-position: 60% 50%;
  }

  &.water {
    background-position: 80% 50%;
  }

  &.grass {
    background-position: 100% 50%;
  }

  &.electric {
    background-position: 0 100%;
  }

  &.psychic {
    background-position: 20% 100%;
  }

  &.ice {
    background-position: 40% 100%;
  }

  &.dragon {
    background-position: 60% 100%;
  }

  &.dark {
    background-position: 80% 100%;
  }

  &.fairy {
    background-position: 100% 100%;
  }

}
