<header class="view-header">breedables</header>
<div class="view-addional-content">
  <app-changer (selectionChanged)="changeGrid($event)" class="m-right-gap"></app-changer>
  <app-checkbox [formControl]="toggleInactivesControl" (change)="changeGridInactives()"
                [icon]="toggleInactivesControl.value ? 'visibility_off': 'visibility'">
    {{toggleInactivesControl.value ? 'Unowned hidden' : 'Unowned visible'}}
  </app-checkbox>
</div>
<aside class="view-sidebar">
  <ul class="sub-navi" *ngIf="worksheets">

    <app-sub-navi-item [link]="['/'+spreadsheetId, 'breedables', worksheet.title | slugify]"
                       *ngFor="let worksheet of worksheets"
                       [text]="worksheet.title"
                       [meta]="worksheet.ownedEntries +'/'+worksheet.data.length">
    </app-sub-navi-item>
  </ul>
</aside>
<div class="view-content">
  <router-outlet></router-outlet>
</div>
