<header class="view-header">breedables</header>
<div class="view-addional-content">
  <app-grid-controller></app-grid-controller>
</div>
<aside class="view-sidebar">
  @if (worksheets) {
    <ul class="sub-navi">

      <app-sub-navi-item [link]="['/'+spreadsheetId, 'breedables', 'overview']"
                         [text]="'Overview'">
        <app-item category="ball" [slug]="'master'"></app-item>
      </app-sub-navi-item>

      @for (worksheet of worksheets; track worksheet) {
        <app-sub-navi-item [link]="['/'+spreadsheetId, 'breedables', worksheet.title | slugify]"

                           [text]="worksheet.title"
                           [meta]="worksheet.ownedEntries +'/'+(worksheet.data ? worksheet.data.length : '???')">

          <app-item category="ball" [slug]="worksheet.title | slugify"></app-item>
        </app-sub-navi-item>
      }
    </ul>
  }
</aside>
<div class="view-content">
  <router-outlet></router-outlet>
</div>
