@if ((data$ | async); as data; ) {


  <div class="legality-table">
    @if (data) {

      @for (entry of data.legality; track entry) {
        <div class="legality-row d-flex">
          <div class="name d-flex">
            <app-pokemon [slug]="entry.pokemon | nameToSlug"></app-pokemon>
            {{ entry.pokemon }}
          </div>
          @for (ball of data.entries | keyvalue; track ball) {

            <div class="ball-col" [class.active]="data.entries[ball.key][(entry.pokemon | slugify)]?.isOwned"
                 [class.illegal]="entry[ball.key] === null">
              <app-item [slug]="ball.key | slugify" category="ball"></app-item>
            </div>

          }
        </div>
      }

    }
  </div>

}
